absl-py
altair
annotated-types
anyio
array-record
asttokens
astunparse
attrs
audioread
backcall
beautifulsoup4
bleach
blinker
build
cachetools
certifi
cffi
charset-normalizer
click
contourpy
cycler
decorator
defusedxml
diskcache
distro
dm-tree
docopt
etils
exceptiongroup
executing
fastjsonschema
filelock
flatbuffers
fonttools
fsspec
gast
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
googleapis-common-protos
greenlet
grpcio
h11
h5py
httpcore
httpx
huggingface-hub
idna
importlib_metadata
importlib_resources
ipython
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
keras
kiwisolver
lazy_loader
libclang
librosa
llama_cpp_python
llvmlite
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
mpmath
msgpack
nbclient
nbconvert
nbformat
networkx
numba
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
oauthlib
openai
opencv-python
opt-einsum
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
pillow
pip-tools
pkgutil_resolve_name
platformdirs
pooch
promise
prompt_toolkit
protobuf
psutil
ptyprocess
pure-eval
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydeck
Pygments
pyparsing
pyproject_hooks
python-dateutil
pyttsx3
pytz
PyYAML
pyzmq
referencing
regex
requests
requests-oauthlib
rich
rpds-py
rsa
safetensors
scikit-learn
scipy
sentencepiece
six
smmap
sniffio
soundfile
soupsieve
soxr
SQLAlchemy
stack-data
streamlit
sympy
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-datasets
tensorflow-estimator
tensorflow-io-gcs-filesystem
tensorflow-metadata
termcolor
threadpoolctl
tinycss2
tokenizers
toml
tomli
toolz
torch
tornado
tqdm
traitlets
transformers
triton
tzdata
urllib3
watchdog
wcwidth
webencodings
Werkzeug
wrapt
yarg
zipp
